<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       body{
        background-color: yellow;
        color: black;
        
       } 
    </style>
</head>
<body>
    <div align="center">
        <h1>Employee Information</h1>
        <p>add and check details about employees</p>
        <button><a href="/add">Add Employee</a></button>
        <button><a href="/data">Check Employee</a></button>
    </div>
</html>